<div class="mt-5 mb-5">

<form method="post" action="">

        <div class="mb-3">
            <label for="seach-input" class="form-label">Your searching:</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Search something">
        </div>

        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>

</form>


</div>